
/* here will be media query for cellular phones */

@media screen and (max-width: 480px) {

	/* here starts the header for mini screen*/

#banner1 {
	display: none;
}
#navigator ul {
	text-align: center;
}

	/* here starts main page for mini screen */

#ver1 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#ver2 {
	display: none;
}

#ver3 {
	display: none;
}

#hor1{
	display: none;
}

#hor4  {
	display: none;
}


#Bar1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 3px;
}

#Bar3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
   border: 3px;
}

#Bar4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
   border: 3px;
}

#bannerNew img {
	max-width: 100%;
  height: auto;
}

#Bar1 .news{
  max-width: 40%;
}

#Bar3 .news {
  max-width: 40%;
}

#Bar4 .news {
	max-width: 40%;
}

/* here there are the changes at the articles for mini screen */

.news {
  margin: 0px 5px 10px 0px;
  background-color: black;
}

.news img {
  width: 100%;
}

.news a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: xx-small;
}

.news p {
  max-height: 50px;
}

/* here there is the footer for mini screen */

#bottom_logo {
text-align: center;
}

}

/* Here will be media query for tablets */


@media screen and (min-width: 481px) and (max-width: 800px) {
  
#bannerNew {
		display: none;
	}

#hor3{
  display: flex;
  justify-content: space-between;}

#hor5{
  display: flex;
  justify-content: center;}

.ver1 {
  width: 85%;
  margin: 10px;
  align-items: center;	
	}
 
#Bar1 {
  display: flex;
  justify-content:space-between;
}

#Bar3 {
  display: flex;
  justify-content: space-between;
}

#Bar4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Bar1 .news {
  max-width: 33%
}

#Bar3 .news {
  max-width: 33%
}

#Bar4 .news {
  max-width: 45%
}

/* here is the footer for tablet*/

#bottom_logo {
text-align: center;
}

}

/* here will be the media for the bigger screen */

@media screen and (min-width: 801px) {
   
#bannerNew {
	display: none;
	}

#hor3{
  display: flex;
  justify-content: space-between;}

#hor5{
  display: flex;
  justify-content: center;}

.ver1 {
  width: 85%;
  margin: 10px;
	align-items: center;	
	}

#Bar1 {
  display: flex;
  justify-content:space-between;
}

#Bar3 {
  display: flex;
  justify-content: space-between;
}

#Bar4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Bar1 .news {
  max-width: 33%
}

#Bar3 .news {
  max-width: 33%
}

#Bar4 .news {
  max-width: 45%
}

/* here is the footer for bigger screen*/

#bottom_logo img {
  float: right;
}

}